.searching-continer {
  margin: 30px auto;
  max-width: 1250px;
  padding: 10px;
}
.Btn-Wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 60px;
}
.searching-input {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin: 0 8px 0 0;
  font-size: 16px;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .Btn-Wrap {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .searching-continer {
    margin: 5px;
  }
}
.st-speed-range {
  display: flex;
}
.wrapperBar {
  display: flex;
  align-items: flex-end;
  height: 400px;
  width: 100%;
  justify-content: center;
}
.bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid rgb(228, 242, 250);
  background-color: #3498db;
}

.bar-details {
  user-select: none;
  transform: rotate(-90deg);
  margin: 0 0 10px 0;
  font-size: smaller;
}
